@model MagazaMvcProjesi.Models.Laptop

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="margin-left:150px;">
    <h2>Laptop Delete Screen</h2>
</div>
<br />



<div>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.color)</dt>
        <dd>>@Html.DisplayFor(i => i.color)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.screenSize)</dt>
        <dd>>@Html.DisplayFor(i => i.screenSize)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.operatingSystem)</dt>
        <dd>>@Html.DisplayFor(i => i.operatingSystem)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.bluetooth)</dt>
        <dd>>@Html.DisplayFor(i => i.bluetooth)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.laptopPrice)</dt>
        <dd>>@Html.DisplayFor(i => i.laptopPrice)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.dealerId)</dt>
        <dd>>@Html.DisplayFor(i => i.dealerId)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.customerId)</dt>
        <dd>>@Html.DisplayFor(i => i.customerId)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Liste")
        </div>

    }
</div>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Elektronik Eşyalar</h2>
            <p>Laptoplar</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div><img src="~/laptopImg/l1.png" /></div>
                    <h4>9.000 TL</h4>

                    <p>HP I5-256 GB F4ES LAPTOP</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div><img src="~/laptopImg/l2.png" /></div>

                    <h4>11.000 TL</h4>
                    <p>HP İ7 512 GB-723Q1EA LAPTOP</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div> <img src="~/laptopImg/l3.png" /></div>

                    <h4>7.000 TL</h4>
                    <p>HP RYZEN 256 GB 723QOEA LAPTOP</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div><img src="~/laptopImg/l4.png" /></div>

                    <h4>8.500 TL</h4>
                    <p>Lenovo Gaming 15.6" 512 GB 82K101EKTX</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div><img src="~/laptopImg/l5.png" /></div>

                    <h4>12.000 TL</h4>
                    <p>Lenovo Gaming İ7 16 GB-1TB 82S900ESTX</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div><img src="~/laptopImg/l6.png" /></div>

                    <h4>4.500 TL</h4>
                    <p>Lenovo Gaming İ5-512 GB 82K10ELTX</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
