@model MagazaMvcProjesi.Models.Refrigator

@{
    ViewBag.Title = "Sil";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div style="margin-left:150px;">
    <h2>Refrigator Delete Screen</h2>
</div>
<br />



<div>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.refColor)</dt>
        <dd>>@Html.DisplayFor(i => i.refColor)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.freezerPlace)</dt>
        <dd>>@Html.DisplayFor(i => i.freezerPlace)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.soundLevel)</dt>
        <dd>>@Html.DisplayFor(i => i.soundLevel)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.energyClass)</dt>
        <dd>>@Html.DisplayFor(i => i.energyClass)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.refPrice)</dt>
        <dd>>@Html.DisplayFor(i => i.refPrice)</dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.dealerId)</dt>
        <dd>>@Html.DisplayFor(i => i.dealerId)</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(i => i.customerId)</dt>
        <dd>>@Html.DisplayFor(i => i.customerId)</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Liste")
        </div>

    }
</div>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Beyaz Eşyalar</h2>
            <p>Buzdolabı</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d1.png" /></div>

                    <h4>7.000 TL</h4>
                    <p>260316MB No Frost</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d2.png" /></div>

                    <h4>12.000 TL</h4>
                    <p>260316 No Frost</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d3.png" /></div>

                    <h4>20.599</h4>
                    <p>583630 EB No Frost</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d8.png" /></div>

                    <h4>52.149 TL</h4>
                    <p>391625 Gardrop Tipi Buzdolabı</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d4.png" /></div>

                    <h4>35.000</h4>
                    <p>583629 EB No Frost</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div><img src="~/BuzdolabiImg/d5.png" /></div>

                    <h4>13.519 TL</h4>
                    <p>454270 MB Çift Kapılı</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
